In [2]:
import pandas as pd
import numpy as np

# Make a Series

In [4]:
d = {23: np.nan, 24: 'i try'}

In [11]:
s = pd.Series([5.1, 4.9, 7.2, 0.5])

In [12]:
s

0    5.1
1    4.9
2    7.2
3    0.5
dtype: float64

In [15]:
s.describe()

count    4.000000
mean     4.425000
std      2.815878
min      0.500000
25%      3.800000
50%      5.000000
75%      5.625000
max      7.200000
dtype: float64

In [18]:
s.size

4

In [19]:
s.shape

(4,)

In [20]:
s.ndim

1

# Make a DF by dic

In [21]:
data = {
    'Name': ['Wesam', 'Ahmed', 'Sara', 'Omar'],
    'Age': [24, 44, 33, 52]
}

In [25]:
df = pd.DataFrame.from_dict(data)

In [26]:
df

    Name  Age
0  Wesam   24
1  Ahmed   44
2   Sara   33
3   Omar   52