In [2]:
import pandas as pd
import numpy as np

# Make a Series

In [4]:
d = {23: np.nan, 24: 'i try'}

In [11]:
s = pd.Series([5.1, 4.9, 7.2, 0.5])

In [12]:
s

0    5.1
1    4.9
2    7.2
3    0.5
dtype: float64

In [15]:
s.describe()

count    4.000000
mean     4.425000
std      2.815878
min      0.500000
25%      3.800000
50%      5.000000
75%      5.625000
max      7.200000
dtype: float64

In [18]:
s.size

4

In [19]:
s.shape

(4,)

In [20]:
s.ndim

1

# Make a DataFrame by dic

In [29]:
data = {
    'Name': ['Wesam', 'Ahmed', 'Sara', 'Omar', 'Salem'],
    'Age': [24, 44, 33, 52, 62]
}

In [41]:
df = pd.DataFrame.from_dict(data, orient='index', columns=['1st', '2ed', '3th', '4th', '5th'])

In [42]:
df

        1st    2ed   3th   4th    5th
Name  Wesam  Ahmed  Sara  Omar  Salem
Age      24     44    33    52     62

In [43]:
df.ndim

2

In [44]:
df.shape

(2, 5)

In [50]:
df2 = pd.DataFrame.from_dict(data, orient='index')

In [51]:
df2

          0      1     2     3      4
Name  Wesam  Ahmed  Sara  Omar  Salem
Age      24     44    33    52     62

In [86]:
def search(value=0):
    
    try:
        return df2.loc[value]
    except KeyError:
        return f'({value}) not found'

In [91]:
search('Name')

0    Wesam
1    Ahmed
2     Sara
3     Omar
4    Salem
Name: Name, dtype: object