In [1]:
import pandas as pd

# قراءة البيانات ومعالجتها:

### اقرأ ملف CSV يحتوي على بيانات مبيعات شركة.

In [2]:
df = pd.read_csv('sales_data.csv')

In [3]:
df

          Date    Product Salesperson Region  Units Sold  Revenue
0   2024-07-24  Product A         Bob  North          16   333.61
1   2024-07-26  Product B         Bob   West           9   235.93
2   2024-08-05  Product B         Bob   East           1   717.51
3   2024-08-14  Product B       Alice  South          13   237.68
4   2024-08-13  Product A         Bob   West          16   916.82
5   2024-08-15  Product C       Alice  South           8   981.55
6   2024-07-24  Product A     Charlie   East           1   941.54
7   2024-08-11  Product C     Charlie  South          13   586.22
8   2024-08-14  Product C       Alice  North          19   738.27
9   2024-08-19  Product B       Alice   West          10   467.63
10  2024-07-25  Product C         Bob  South           4   526.98
11  2024-07-26  Product B       Alice   East          10   921.03
12  2024-08-17  Product A         Bob  South           2   756.76
13  2024-08-08  Product A       Alice   West          11   372.48
14  2024-07-28  Product A       Alice   East           6   539.36
15  2024-07-31  Product C         Bob   West           4   385.85
16  2024-07-29  Product C     Charlie   East          17   110.35
17  2024-08-18  Product A       Alice   East          17   749.66
18  2024-07-22  Product A     Charlie   West          19   261.17
19  2024-08-03  Product B     Charlie   West          14   637.94
20  2024-08-17  Product A         Bob  South           5   942.49
21  2024-08-17  Product C         Bob  South           1   904.80
22  2024-08-02  Product A     Charlie   East          12   356.30
23  2024-08-05  Product B         Bob   East          16   665.49
24  2024-07-29  Product C         Bob  North          12   842.67
25  2024-08-09  Product C         Bob   West           3   327.33
26  2024-08-14  Product A         Bob  South          13   762.18
27  2024-08-13  Product B       Alice   West           5   678.21
28  2024-08-13  Product A       Alice  South          17   537.06
29  2024-08-16  Product A       Alice   East          18   960.46
30  2024-08-17  Product C       Alice   West          10   608.07
31  2024-08-20  Product B         Bob   West           6   109.25
32  2024-08-04  Product B         Bob  North           7   665.06
33  2024-08-13  Product A         Bob   West          11   891.06
34  2024-08-08  Product C       Alice   East           3   624.44
35  2024-08-07  Product C       Alice  North          15   552.02
36  2024-08-05  Product A       Alice   East           2   533.73
37  2024-08-09  Product B         Bob   West          11   443.75
38  2024-08-17  Product B     Charlie   West          16   150.62
39  2024-07-24  Product A         Bob  South           6   198.96
40  2024-08-03  Product B         Bob   West           2   511.89
41  2024-08-15  Product C         Bob   East           9   309.41
42  2024-07-30  Product A     Charlie  North          19   472.60
43  2024-08-07  Product C       Alice  South          11   983.86
44  2024-07-24  Product A     Charlie  South           8   878.38
45  2024-08-04  Product B     Charlie  North          10   764.82
46  2024-07-25  Product A     Charlie   East           4   581.65
47  2024-08-12  Product B       Alice  South           8   655.10
48  2024-07-27  Product A       Alice  South           7   241.60
49  2024-07-30  Product C         Bob   East          17   742.58

### احسب الإجمالي الشهري للمبيعات لكل منتج.

In [4]:
df.groupby('Product').sum()

,Date,Salesperson,Region,Units Sold,Revenue
Product,,,,,
Product A,2024-07-242024-08-132024-07-242024-08-172024-0...,BobBobCharlieBobAliceAliceAliceCharlieBobCharl...,NorthWestEastSouthWestEastEastWestSouthEastSou...,210,12227.87
Product B,2024-07-262024-08-052024-08-142024-08-192024-0...,BobBobAliceAliceAliceCharlieBobAliceBobBobBobC...,WestEastSouthWestEastWestEastWestWestNorthWest...,138,7861.91
Product C,2024-08-152024-08-112024-08-142024-07-252024-0...,AliceCharlieAliceBobBobCharlieBobBobBobAliceAl...,SouthSouthNorthSouthWestEastSouthNorthWestWest...,146,9224.40

In [11]:
df.sort_values('Date')

          Date    Product Salesperson Region  Units Sold  Revenue
18  2024-07-22  Product A     Charlie   West          19   261.17
0   2024-07-24  Product A         Bob  North          16   333.61
44  2024-07-24  Product A     Charlie  South           8   878.38
39  2024-07-24  Product A         Bob  South           6   198.96
6   2024-07-24  Product A     Charlie   East           1   941.54
46  2024-07-25  Product A     Charlie   East           4   581.65
10  2024-07-25  Product C         Bob  South           4   526.98
1   2024-07-26  Product B         Bob   West           9   235.93
11  2024-07-26  Product B       Alice   East          10   921.03
48  2024-07-27  Product A       Alice  South           7   241.60
14  2024-07-28  Product A       Alice   East           6   539.36
16  2024-07-29  Product C     Charlie   East          17   110.35
24  2024-07-29  Product C         Bob  North          12   842.67
49  2024-07-30  Product C         Bob   East          17   742.58
42  2024-07-30  Product A     Charlie  North          19   472.60
15  2024-07-31  Product C         Bob   West           4   385.85
22  2024-08-02  Product A     Charlie   East          12   356.30
19  2024-08-03  Product B     Charlie   West          14   637.94
40  2024-08-03  Product B         Bob   West           2   511.89
45  2024-08-04  Product B     Charlie  North          10   764.82
32  2024-08-04  Product B         Bob  North           7   665.06
2   2024-08-05  Product B         Bob   East           1   717.51
36  2024-08-05  Product A       Alice   East           2   533.73
23  2024-08-05  Product B         Bob   East          16   665.49
43  2024-08-07  Product C       Alice  South          11   983.86
35  2024-08-07  Product C       Alice  North          15   552.02
34  2024-08-08  Product C       Alice   East           3   624.44
13  2024-08-08  Product A       Alice   West          11   372.48
25  2024-08-09  Product C         Bob   West           3   327.33
37  2024-08-09  Product B         Bob   West          11   443.75
7   2024-08-11  Product C     Charlie  South          13   586.22
47  2024-08-12  Product B       Alice  South           8   655.10
28  2024-08-13  Product A       Alice  South          17   537.06
33  2024-08-13  Product A         Bob   West          11   891.06
27  2024-08-13  Product B       Alice   West           5   678.21
4   2024-08-13  Product A         Bob   West          16   916.82
8   2024-08-14  Product C       Alice  North          19   738.27
26  2024-08-14  Product A         Bob  South          13   762.18
3   2024-08-14  Product B       Alice  South          13   237.68
5   2024-08-15  Product C       Alice  South           8   981.55
41  2024-08-15  Product C         Bob   East           9   309.41
29  2024-08-16  Product A       Alice   East          18   960.46
38  2024-08-17  Product B     Charlie   West          16   150.62
21  2024-08-17  Product C         Bob  South           1   904.80
12  2024-08-17  Product A         Bob  South           2   756.76
30  2024-08-17  Product C       Alice   West          10   608.07
20  2024-08-17  Product A         Bob  South           5   942.49
17  2024-08-18  Product A       Alice   East          17   749.66
9   2024-08-19  Product B       Alice   West          10   467.63
31  2024-08-20  Product B         Bob   West           6   109.25

In [5]:
import re
d = df.loc[(df['Date'] >= '2024-07-01') & (df['Date'] <= '2024-07-31')]
d = d.sort_values('Date')

In [6]:
d

          Date    Product Salesperson Region  Units Sold  Revenue
18  2024-07-22  Product A     Charlie   West          19   261.17
0   2024-07-24  Product A         Bob  North          16   333.61
6   2024-07-24  Product A     Charlie   East           1   941.54
39  2024-07-24  Product A         Bob  South           6   198.96
44  2024-07-24  Product A     Charlie  South           8   878.38
10  2024-07-25  Product C         Bob  South           4   526.98
46  2024-07-25  Product A     Charlie   East           4   581.65
1   2024-07-26  Product B         Bob   West           9   235.93
11  2024-07-26  Product B       Alice   East          10   921.03
48  2024-07-27  Product A       Alice  South           7   241.60
14  2024-07-28  Product A       Alice   East           6   539.36
16  2024-07-29  Product C     Charlie   East          17   110.35
24  2024-07-29  Product C         Bob  North          12   842.67
42  2024-07-30  Product A     Charlie  North          19   472.60
49  2024-07-30  Product C         Bob   East          17   742.58
15  2024-07-31  Product C         Bob   West           4   385.85

In [7]:
d.groupby('Product').sum()['Units Sold']

Product
Product A    86
Product B    19
Product C    54
Name: Units Sold, dtype: int64

### اعرض المبيعات الشهرية لكل موظف.

In [8]:
df.groupby('Salesperson').sum('Units Sold')

             Units Sold   Revenue
Salesperson
Alice               190  11382.21
Bob                 171  12190.38
Charlie             133   5741.59

# تنظيف البيانات:

لديك جدول يحتوي على بيانات مستخدمين مع وجود بعض القيم المفقودة (NaN). قم بحذف الصفوف التي تحتوي على بيانات مفقودة أو استبدال القيم المفقودة بمتوسط البيانات في العمود.
احذف أي صفوف مكررة في جدول البيانات.

In [9]:
df2 = pd.read_csv('users_data_with_nan.csv')

In [3]:
df2

   User ID     Name   Age              Email  Country
0      101    Alice  25.0  alice@example.com      USA
1      102      Bob   NaN    bob@example.com       UK
2      103  Charlie  30.0                NaN   France
3      104    David  22.0  david@example.com      NaN
4      105      Eve   NaN    eve@example.com  Germany

In [10]:
df2['Age'].isna()

0    False
1     True
2    False
3    False
4     True
Name: Age, dtype: bool

### حذف صف

In [11]:
# df3 = df2.drop(

In [12]:
df2.isnull()

   User ID   Name    Age  Email  Country
0    False  False  False  False    False
1    False  False   True  False    False
2    False  False  False   True    False
3    False  False  False  False     True
4    False  False   True  False    False