In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('C:/Users/TOSHIBA/Downloads/2021_population.csv')

In [5]:
df

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,447,065,329","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.34%,1
1,IND,India,"1,401,310,563","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.69%,2
2,USA,United States,"334,058,426","331,002,651","9,372,610 sq_km",36/sq_km,0.58%,4.23%,3
3,IDN,Indonesia,"278,037,263","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.51%,4
4,PAK,Pakistan,"227,724,796","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.86%,5
...,...,...,...,...,...,...,...,...,...
219,MSR,Montserrat,"4,977","4,992",102 sq_km,49/sq_km,-0.30%,0.00%,228
220,FLK,Falkland Islands,"3,533","3,480","12,173 sq_km",0/sq_km,1.52%,0.00%,229
221,NIU,Niue,"1,619","1,626",260 sq_km,6/sq_km,-0.43%,0.00%,230
222,TKL,Tokelau,"1,373","1,357",12 sq_km,114/sq_km,1.18%,0.00%,231
223,VAT,Vatican City,800,801,1 sq_km,800/sq_km,-0.12%,0.00%,232

# Size

In [6]:
df.size

2016

# Number of Dimnshen

In [7]:
df.ndim

2

# Describe

In [9]:
df.describe()

             rank
count  224.000000
mean   115.013393
std     66.844876
min      1.000000
25%     57.750000
50%    113.500000
75%    171.250000
max    232.000000

# Info

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso_code           224 non-null    object
 1   country            224 non-null    object
 2   2021_last_updated  224 non-null    object
 3   2020_population    224 non-null    object
 4   area               224 non-null    object
 5   density_sq_km      224 non-null    object
 6   growth_rate        224 non-null    object
 7   world_%            224 non-null    object
 8   rank               224 non-null    int64
dtypes: int64(1), object(8)
memory usage: 15.9+ KB

# Shape

In [11]:
df.shape

(224, 9)

# isnull

In [13]:
df.isnull()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
219,False,False,False,False,False,False,False,False,False
220,False,False,False,False,False,False,False,False,False
221,False,False,False,False,False,False,False,False,False
222,False,False,False,False,False,False,False,False,False
223,False,False,False,False,False,False,False,False,False

In [29]:
df2 = pd.read_csv(r'C:\Users\TOSHIBA\Desktop\k.csv')

In [30]:
df2

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,"CHN,China,""1,447,065,329"",""null"",""9,706,961 sq...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"IND,India,""1,401,310,563"",""1,380,004,385"",""3,2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"USA,United States,""334,058,426"",""331,002,651"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"IDN,Indonesia,""278,037,263"",""273,523,615"",""1,9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"PAK,Pakistan,""227,724,796"",""220,892,340"",""881,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
219,"MSR,Montserrat,""4,977"",""4,992"",102 sq_km,49/sq...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,"FLK,Falkland Islands,""3,533"",""3,480"",""12,173 s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,"NIU,Niue,""1,619"",""1,626"",260 sq_km,6/sq_km,-0....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,"TKL,Tokelau,""1,373"",""1,357"",12 sq_km,114/sq_km...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,VAT,Vatican City,800.0,801.0,1 sq_km,800/sq_km,-0.12%,0.00%,232.0

In [22]:
df2.isnull()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
219,False,False,False,False,False,False,False,False,False
220,False,False,False,False,False,False,False,False,False
221,False,False,False,False,False,False,False,False,False
222,False,False,False,False,False,False,False,False,False
223,False,False,False,False,False,False,False,False,False